body {
	margin: 0px 0px 10px 0px;
	font-family: 'Roboto';
	font-weight: 300;
	color: #555;
}
hr {
	width: 70%;
	margin: 50px 15% 50px 15%;
}

/*-- SUMMARY --*/
.summary {
	background-image: url('https://storage.googleapis.com/idx-acnt-gs.ihouseprd.com/AR688778/site/banner_image_original_1438092449.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	margin-bottom: 50px;
}
.summary img {
	margin-top: 7.5%;
	margin-left: 25%;
}
.summary hr {
	width: 90%;
	margin: 0px;
}
.summary .information {
	background-color: rgba(255, 255, 255, 0.75);
	width: 35%;
	height: 325px;
	float: right;
	margin-top: 7.5%;
	margin-right: 10%;
	padding-left: 30px;
}
.summary .information .social-media {
	margin-left: 0px;
}
.summary .information .social-media a {
	text-decoration: none;
}
.summary .information .social-media img {
	margin: 0px 0px 0px 0px;
}

/*-- SKILLS --*/
.skills {
	width: 80%;
	margin: 0% 10%;
	text-align: center;
}
.skills table {
	width: 80%;
	margin: 30px 5% 0px 5%;
}
.skills td {
	font-size: 1.25em;
	padding: 10px 50px;
}

/*-- EXPERIENCE --*/
.experience {
	width: 70%;
	margin: 30px 15%;
}
.experience h1 {
	text-align: center;
}

/*-- EDUCATION --*/
.education {
	width: 70%;
	margin: 30px 15%;
}
.education h1 {
	text-align: center;
}

/*-- ENTRY --*/
.entry h2 {
	width: 50%;
	float: left;
}
.entry h3 {
	width: 30%;
	text-align: right;
	float: right;
}
.entry ul {
	list-style-type: circle;
	margin-top: 10px;	
	clear: both;
}
.entry ul li {
	margin-top: 10px;
	font-size: 1.1em;
}

/*-- CONTACT --*/
.contact {
	text-align: center;
}
.contact textarea {
	width: 52%;
	height: 200px;
	font-size: 1.5em;
	font-family: 'Roboto';
	color: #555;
}
.contact input {
	margin: 15px 10px;
	font-size: 1.25em;
}
.contact input[type="text"] {
	width: 25%;
	font-family: 'Roboto';
	color: #555;
}
.contact input[type="email"] {
	width: 25%;
	font-family: 'Roboto';
	color: #555;
}
.contact input[type="submit"] {
	padding: 10px 20px;
	border: none;
	font-family: 'Roboto';
	text-align: center;
	color: #50A6C2;
	background-color: #EEE;
}
.contact input[type="submit"]:hover {
	background-color: #DDD;
	cursor: hand;
}
.contact input[type="submit"]:focus {
	outline: none;
}
